@charset "utf-8";

//**************************
// brake point
//**************************
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1023px;
$breakpoint-xll: 1279px;
$breakpoint-max: 1600px;

@mixin breakpoint-sm {
	@media screen and (min-width:($breakpoint-sm)) { @content; } }

@mixin breakpoint-md {
	@media screen and (min-width:($breakpoint-md)) { @content; } }

@mixin breakpoint-lg {
	@media screen and (min-width:($breakpoint-lg)) { @content; } }

@mixin breakpoint-xl {
	@media screen and (min-width:($breakpoint-xl)) { @content; } }

@mixin breakpoint-xll {
	@media screen and (min-width:($breakpoint-xll)) { @content; } }

@mixin breakpoint-max {
	@media screen and (min-width:($breakpoint-max)) { @content; } }

/* bnr
-----------------------------------------------------------------*/
.bnr{
	text-align:center;	
}
.bnr .inner{
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 3%;
	@include breakpoint-md {
		padding: 3% 0;
	}
}
.bnr .inner ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bnr .inner ul li{
	max-width: 768px;
	width: 48%;
	margin: 3% 0;
}

.bnr .inner ul li.large {
	max-width: 100%;
	width: 100%;
	margin: 3% 0;
}

.bnr .inner ul li:nth-child(n+3){
	margin-top: 0;
}

/********************************************
  コロナ案内
  *********************************************/
.releaseWrapBlock {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.releaseWrap {
  width: 100%;
  padding: 20px;
  border: 1px solid #d82828;
  background: #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #d82828;
  box-sizing: border-box;
  align-items: center;
}

.releaseWrap span {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, verdana, sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #d82828;
}

.requestBannerBlock {
  width: 90%;
  margin: 40px auto;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .releaseWrapBlock {
    display: block;
    margin: 20% auto 0;
  }

  .releaseWrap {
    width: 100%;
    padding: 3%;
    font-size: 1.4rem;
  }

  .requestBannerBlock {
    margin: 8% auto;
  }

  .releaseWrap:last-of-type {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}