@charset "utf-8";
/**
 *
 *  ページ用CSS
 *　modelroom
 */

//**************************
// brake point
//**************************
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1023px;
$breakpoint-xll: 1279px;
$breakpoint-max: 1600px;

@mixin breakpoint-sm {
	@media screen and (min-width:($breakpoint-sm)) { @content; } }

@mixin breakpoint-md {
	@media screen and (min-width:($breakpoint-md)) { @content; } }

@mixin breakpoint-lg {
	@media screen and (min-width:($breakpoint-lg)) { @content; } }

@mixin breakpoint-xl {
	@media screen and (min-width:($breakpoint-xl)) { @content; } }

@mixin breakpoint-xll {
	@media screen and (min-width:($breakpoint-xll)) { @content; } }

@mixin breakpoint-max {
	@media screen and (min-width:($breakpoint-max)) { @content; } }

//**************************
// color
//**************************
$color_primaryA_01:rgba(220, 229, 233, 1);
$color_primaryA_02:rgba(181, 199, 206, 1);
$color_primaryA_03:rgba(162, 182, 189, 1);
$color_primaryA_04:rgba(65, 84, 100, 1);

$color_accentA_01:rgba(144, 78, 85, 1);
$color_accentB_01:rgba(102, 139, 103, 1);

$color_accentC_01:rgba(235, 220, 203, 1);
$color_accentC_02:rgba(191, 180, 143, 1);
$color_accentC_03:rgba(148, 138, 104, 1);

$color_gray_01:rgba(100, 100, 104, 1);
$color_gray_02:rgba(37, 38, 39, 1);//TEXT Color
$color_gray_03:rgba(8, 9, 9, 1);

$color_white:rgba(255, 255, 255, 1);
$color_black:rgba(0, 0, 0, 1);

.sm {
	display: block;
	@include breakpoint-sm {
		display: none;
	}
}
.sm-md {
	display: block;
	@include breakpoint-md {
		display: none;
	}
}
.sm-lg {
	display: block;
	@include breakpoint-xl {
		display: none;
	}
}
.md {
	display: none;
	@include breakpoint-md {
		display: block;
	}
}
.lg {
	display: none;
	@include breakpoint-lg {
		display: block;
	}
}
.xl {
	display: none;
	@include breakpoint-xl {
		display: block;
	}
}
/*--------------------------------------------------------------------------
   Overwright
---------------------------------------------------------------------------*/

.page-ttl h2 {
	margin-top: -30px;
	font-size: 6rem;
}

@media screen and (max-width:1280px) {
	.page-ttl h2{
		margin-top: -20px;
		font-size: 4rem;
	}
}
@media screen and (max-width:480px) {
    .page-ttl h2 {
			margin-top: -20px;
      font-size: 4.5rem;
    }
}


/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/
#modelroom {
	figure {
		position: relative;
		figcaption {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0 .5em;
			background: rgba($color_black, .5);
			color: $color_white;
			font-size: 1.2rem;
		}
	}
}


#modelroom .intro {
	position: relative;
	color: $color_white;
	&::after{
		content:"";
		position: absolute;
		left: 0;
		top: 0%;
		transform: skewY(5deg);
		transform-origin: bottom left;
		z-index: -1;
		width: 100%;
		height: 90%;
		background: url("../images/intro_bg01.png") center bottom no-repeat;
		background-size: cover;
		@include breakpoint-md {
			height: 70%;
		}
	}
	.sectionWrap {
		margin: auto;
		padding: 2em 0;
		width: 90%;
		max-width: 1200px;
	}
	.intro__Inner {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.intro__titleReadWrap {
		width: 100%;
		@include breakpoint-md {
			width: 50%;
		}
		.intro__title {
			margin-top: 2em;
			font-size: 2rem;
			text-align: left;
			@include breakpoint-md {
				font-size: 2.5rem;
			}
		}
		.intro__read {
			text-align: left;
			margin-top: 2em;
			@include breakpoint-md {
				padding-right: 2em;
			}
		}
	}
	.intro__photoList {
		margin-top: 2em;
		@include breakpoint-md {
			width: 50%;
		}
		.intro__photoList__item {
			position: relative;
		}
		.intro__photoList__item.item01 {
			margin: auto 0 auto auto;
			width: 70%;
			z-index: 2;
		}
		.intro__photoList__item.item02 {
			margin-top: -5em;
			width: 50%;
			z-index: 1;
		}
	}
}


#modelroom .photo {
	.sectionWrap {
		margin: auto;
		padding: 2em 0;
		width: 100%;
		max-width: 1200px;
		@include breakpoint-md {
			width: 90%;
		}
	}
	.photo__title {
		margin: auto;
		width: 90%;
		font-size: 1.8rem;
		color: $color_primaryA_04;
		@include breakpoint-md {
			width: 100%;
			font-size: 2.2rem;
		}
	}
}

/* photoSliderBlock
---------------------------------------------------- */
#modelroom .photoSliderBlock {
	margin-top: 2em;
	.slider {
		position: relative;
		img.photo  {
			width:100%;
		}
		p.text {
			position: absolute;
			bottom:0;
			right:0;
			background: rgba($color_black,.7);
			padding: .2em;
			color: $color_white;
			font-size: 1.3rem;
			@media screen and (max-width: 959px) {
				right: 5px;
				font-size: 1rem;
			}
		}
//		.slide01 img.text {width: 10em;}
//		.slide02 img.text {width: 10em;}
//		.slide03 img.text {width: 10em;}
//		.slide04 img.text {width: 7.8em;}
//		.slide05 img.text {width: 17em;}
//		.slide06 img.text {width: 14em;}
//		.slide07 img.text {width: 10.2em;}
//		.slide08 img.text {width: 6em;}
//		.slide09 img.text {width: 7em;}
//		.slide10 img.text {width: 8.8em;}
	}
	.thumb {
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 98%;
		max-width: 1200px;
		letter-spacing: -.4em\9;
		& > div {
			margin: 0 5px 10px 0;
			display: inline-block\9;
			letter-spacing: normal\9;
			vertical-align: top\9;
			a {
				display: block;
				position: relative;
				img {
					width: 100px;
					@media screen and (max-width: 644px) {/*{SP}*/
						width: 80px;
					}
				}
				.df {
					position: absolute;
					top: 0;
					left: 0;
					-webkit-transition: 0.3s ease;
					transition: 0.3s ease;
				}
				&:hover .df,
				&.active .df {
					opacity: 0;
				}
			}
		}
	}
	.bx-wrapper {
		margin-bottom: 10px;
	}
}


/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin-bottom: 130px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper {
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('../images/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
	z-index: 99999;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #aaaaaa;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ffdd82;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('../images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('../images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('../images/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('../images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

@media screen and (max-width:640px) {
	.bx-wrapper {
		margin-bottom: 60px;
	}
}


#modelroom .ootemaeModel {
	padding: 2em 0;
	background: $color_primaryA_01;
	@include breakpoint-md {
		margin-top: 3em;
		padding: 5em 0;
	}
	.sectionWrap {
		margin: auto;
		padding: 2em 0;
		width: 90%;
		max-width: 1176px;
		@include breakpoint-md {
			width: 90%;
		}
	}
	.ootemaeModel__title {
		margin: auto;
		width: 90%;
		font-size: 1.8rem;
		color: $color_primaryA_04;
		text-align: center;
		@include breakpoint-md {
			width: 100%;
			font-size: 4rem;
		}
	}
	.ootemaeModel__read {
		margin-top: 2em;
		text-align: center;
	}
	.ootemaeModel__list {
		margin-top: 2em;
		@include breakpoint-md {
			margin-top: 4em;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		figcaption {
			font-size: 1rem;
		}
		.ootemaeModel__list__item01 {
			width: 100%;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			@include breakpoint-md {
				width: 33%;
			}
			.ootemaeModel__list__item01__inner {
				width: 49%;
				@include breakpoint-md {
					width: 100%;
				}
				&.inner02 {
					@include breakpoint-md {
						margin-top: .5em;
					}
				}
			}
		}
		.ootemaeModel__list__item02 {
			margin-top: .5em;
			width: 100%;
			@include breakpoint-md {
				margin-top: 0;
				width: 66%;
			}
		}
		.ootemaeModel__list__item03 {
			margin-top: .5em;
			width: 100%;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			@include breakpoint-md {
				width: 100%;
			}
			.ootemaeModel__list__item03__inner {
				width: 49%;
				@include breakpoint-md {
					width: 49.5%;
				}
			}
		}
	}
	.ootemaeModel__btBlock {
		margin: auto;
		margin-top: 3em;
		width: 90%;
		max-width: 530px;
		a {
			display: block;
			padding:20px 20px;
			color:#fff;
			text-align: center;
			line-height: 1.4;
			transition: 0.4s;
			position: relative;
			background: $color_primaryA_04;
			box-shadow: 6px 6px $color_primaryA_03;
		}
		a::after {
			content: url(../../../crm/images/icon-arrow-wh.svg);
			width: 40px;
			position: absolute;
			right: 5%;
			top: 50%;
			transition: 0.4s;
			transform: translateY(-50%);
		}
		a:hover{
			opacity: 0.7;
		}
	}
}

