@charset "utf-8";





.Content{
  margin-top: 80px;
}
.hanrei{
  max-width: 800px;
}
.hanrei,.captionBottom{
  max-width: 800px;
}

@media screen and (max-width: 768px){
  .Content{
    margin-top: 80px;
  }
}

