@charset "UTF-8";
/**
 *
 *  ページ用CSS
 *　member__column06
 */
.sm {
  display: block;
}
@media screen and (min-width: 480px) {
  .sm {
    display: none;
  }
}

.sm-lg {
  display: block;
}
@media screen and (min-width: 1023px) {
  .sm-lg {
    display: none;
  }
}

.md {
  display: none;
}
@media screen and (min-width: 767px) {
  .md {
    display: block;
  }
}

.lg {
  display: none;
}
@media screen and (min-width: 960px) {
  .lg {
    display: block;
  }
}

.xl {
  display: none;
}
@media screen and (min-width: 1023px) {
  .xl {
    display: block;
  }
}

/*--------------------------------------------------------------------------
   Overwright
---------------------------------------------------------------------------*/
.page-ttl {
  padding: 0;
}
.page-ttl__inner {
  position: relative;
  height: 50vh;
  max-height: 400px;
  background: url("../images/column06/bg_ttl_pc.png") center center no-repeat;
  background-size: cover;
}
.page-ttl__inner h2 {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: none;
  width: 80%;
  max-width: 450px;
}

@media screen and (max-width: 480px) {
  .page-ttl {
    padding: 4% 4% 4% 4%;
  }
  .page-ttl__inner {
    position: relative;
    height: 50vh;
    max-height: 50vh;
    background: url("../images/column06/bg_ttl_sp.png") no-repeat;
    background-size: cover;
  }

  .page-ttl h2 {
    margin-top: 0;
  }
}
/*--------------------------------------------------------------------------
   contents
---------------------------------------------------------------------------*/
#menber_column06 figure {
  position: relative;
}
#menber_column06 figure figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 .5em;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.2rem;
}

#menber_column06 .sectionTitleBlock__subtitle {
  font-size: 1.6rem;
  text-align: center;
  color: #bfb48f;
}
@media screen and (min-width: 767px) {
  #menber_column06 .sectionTitleBlock__subtitle {
    font-size: 1.9rem;
  }
}
#menber_column06 .sectionTitleBlock__maintitle {
  margin-top: 1em;
  font-size: 1.9rem;
  text-align: center;
  color: #415464;
}
@media screen and (min-width: 767px) {
  #menber_column06 .sectionTitleBlock__maintitle {
    font-size: 2.5rem;
  }
}
#menber_column06 .sectionTitleBlock + p {
  margin: 2.5em auto 0 auto;
  max-width: 1000px;
}
#menber_column06 p + figure {
  margin-top: 2em;
}
@media screen and (min-width: 767px) {
  #menber_column06 p + figure {
    margin-top: 4em;
  }
}

#menber_column06 .intro {
  margin: auto;
  width: 90%;
  max-width: 1508px;
}
@media screen and (min-width: 767px) {
  #menber_column06 .intro .inner {
    margin-top: 5em;
  }
}
@media screen and (min-width: 767px) {
  #menber_column06 .intro p {
    text-align: center;
    line-height: 1.8em;
  }
}

.introPhoto {
  margin-top: 2em;
}
@media screen and (min-width: 767px) {
  .introPhoto {
    margin-top: 4em;
  }
}

#menber_column06 .designer {
  position: relative;
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer {
    margin-top: 4em;
  }
}
#menber_column06 .designer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: skewY(-5deg);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 55%;
  background: #415464;
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer::after {
    top: 40%;
    height: 80%;
  }
}
#menber_column06 .designer .inner {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer .innerWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer .designer__titleBlock {
    width: 35%;
    color: white;
  }
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer .designer__titleBlock .sectionTitleBlock__maintitle {
    text-align: left;
    color: white;
  }
}
#menber_column06 .designer .designer__profileBlock {
  margin: auto;
  margin-top: 2em;
  padding: 1.5em;
  width: 100%;
  max-width: 1200px;
  border: 5px solid #b5c7ce;
  background: white;
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer .designer__profileBlock {
    width: 50%;
    padding: 2em;
  }
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer .designer__profileBlock .designer__profileBlock__photoArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
#menber_column06 .designer .designer__profileBlock .designer__profileBlock__photoArea .designer__profileBlock__photoArea__logo {
  margin: auto;
  width: 50%;
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer .designer__profileBlock .designer__profileBlock__photoArea .designer__profileBlock__photoArea__logo {
    width: 25%;
  }
}
#menber_column06 .designer .designer__profileBlock .designer__profileBlock__photoArea .designer__profileBlock__photoArea__photo {
  margin-top: 2em;
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer .designer__profileBlock .designer__profileBlock__photoArea .designer__profileBlock__photoArea__photo {
    margin-top: 0;
    width: 60%;
  }
}
#menber_column06 .designer .designer__profileBlock .designer__profileBlock__profileArea {
  margin-top: 1em;
  color: #948a68;
}
@media screen and (min-width: 767px) {
  #menber_column06 .designer .designer__profileBlock .designer__profileBlock__profileArea {
    margin-top: 2em;
  }
}
#menber_column06 .designer .designer__profileBlock .designer__profileBlock__profileArea p {
  margin-top: .4em;
}
#menber_column06 .designer .designer__profileBlock .designer__profileBlock__profileArea em {
  font-size: 2.1rem;
  font-style: normal;
}
#menber_column06 .designer .designer__profileBlock .designer__profileBlock__profileArea p.name {
  margin-top: 1em;
}
#menber_column06 .designer .designer__profileBlock .designer__profileBlock__profileArea p.read {
  margin-top: 1em;
}

#menber_column06 .livingdining {
  margin-top: 3em;
}
@media screen and (min-width: 767px) {
  #menber_column06 .livingdining {
    margin-top: 10em;
  }
}
#menber_column06 .livingdining .inner {
  margin: auto;
  width: 100%;
  position: relative;
}
#menber_column06 .livingdining .livingdining__titleBlock {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin-left: 5%;
  margin-bottom: -10%;
}
@media screen and (min-width: 767px) {
  #menber_column06 .livingdining .livingdining__titleBlock {
    margin-bottom: -3%;
  }
}
#menber_column06 .livingdining .livingdining__titleBlock h3 {
  display: inline-block;
  padding: 1em;
  padding-right: 3em;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.9rem;
  color: #415464;
}
@media screen and (min-width: 767px) {
  #menber_column06 .livingdining .livingdining__titleBlock h3 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 767px) {
  #menber_column06 .livingdining ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
#menber_column06 .livingdining ul li {
  margin-top: .3em;
}
@media screen and (min-width: 767px) {
  #menber_column06 .livingdining ul li {
    width: 50%;
  }
}

#menber_column06 .bedRoom {
  margin-top: 3em;
  background: #415464;
  color: white;
}
@media screen and (min-width: 767px) {
  #menber_column06 .bedRoom {
    margin-top: 0;
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
#menber_column06 .bedRoom .inner {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  position: relative;
}
#menber_column06 .bedRoom .bedRoom__titleBlock {
  margin-left: 5%;
  font-size: 1.9rem;
}
@media screen and (min-width: 767px) {
  #menber_column06 .bedRoom .bedRoom__titleBlock {
    font-size: 2.8rem;
  }
}
#menber_column06 .bedRoom ul {
  margin-top: 2em;
}

#menber_column06 .kitchenBathroom {
  margin-top: 3em;
}
@media screen and (min-width: 767px) {
  #menber_column06 .kitchenBathroom {
    margin-top: 4em;
  }
}
#menber_column06 .kitchenBathroom .inner {
  margin: auto;
  width: 100%;
  position: relative;
}
#menber_column06 .kitchenBathroom .kitchenBathroom__titleBlock {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin-left: 5%;
  margin-bottom: -10%;
}
@media screen and (min-width: 767px) {
  #menber_column06 .kitchenBathroom .kitchenBathroom__titleBlock {
    margin-bottom: -3%;
  }
}
#menber_column06 .kitchenBathroom .kitchenBathroom__titleBlock h3 {
  display: inline-block;
  padding: 1em;
  padding-right: 3em;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1.9rem;
  color: #415464;
}
@media screen and (min-width: 767px) {
  #menber_column06 .kitchenBathroom .kitchenBathroom__titleBlock h3 {
    font-size: 3rem;
  }
}
#menber_column06 .kitchenBathroom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#menber_column06 .kitchenBathroom ul li.kitchenBathroom__list__listItem01 {
  width: 100%;
}
@media screen and (min-width: 767px) {
  #menber_column06 .kitchenBathroom ul li.kitchenBathroom__list__listItem01 {
    width: 33.2%;
  }
}
#menber_column06 .kitchenBathroom ul li.kitchenBathroom__list__listItem02 {
  margin-top: 1%;
  width: 49.5%;
}
@media screen and (min-width: 767px) {
  #menber_column06 .kitchenBathroom ul li.kitchenBathroom__list__listItem02 {
    margin-top: 0;
    width: 33.3%;
  }
}
#menber_column06 .kitchenBathroom ul li.kitchenBathroom__list__listItem03 {
  margin-top: 1%;
  width: 49.5%;
}
@media screen and (min-width: 767px) {
  #menber_column06 .kitchenBathroom ul li.kitchenBathroom__list__listItem03 {
    margin-top: 0;
    width: 33.3%;
  }
}

#menber_column06 .other {
  margin-top: 3em;
  position: relative;
}
@media screen and (min-width: 767px) {
  #menber_column06 .other {
    margin-top: 4em;
    margin-bottom: 6em;
  }
}
#menber_column06 .other::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  transform: skewY(-5deg);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 55%;
  background: #dce5e9;
}
@media screen and (min-width: 767px) {
  #menber_column06 .other::after {
    margin-top: 6em;
    top: 0%;
    height: 100%;
  }
}
#menber_column06 .other .inner {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
}
#menber_column06 .other .other__titleBlock {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}
@media screen and (min-width: 767px) {
  #menber_column06 .other .other__titleBlock {
    margin-top: 4em;
  }
}
#menber_column06 .other .other__titleBlock h3 {
  text-align: center;
  font-size: 1.9rem;
  color: #415464;
}
@media screen and (min-width: 767px) {
  #menber_column06 .other .other__titleBlock h3 {
    font-size: 2.8rem;
  }
}
#menber_column06 .other ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#menber_column06 .other ul li {
  margin-top: 1em;
}
@media screen and (min-width: 767px) {
  #menber_column06 .other ul li {
    margin-top: 3em;
  }
}
#menber_column06 .other ul li.other__list__listItem01 {
  width: 100%;
}
@media screen and (min-width: 767px) {
  #menber_column06 .other ul li.other__list__listItem01 {
    width: 49%;
  }
}
#menber_column06 .other ul li.other__list__listItem02 {
  width: 100%;
}
@media screen and (min-width: 767px) {
  #menber_column06 .other ul li.other__list__listItem02 {
    width: 49%;
  }
}
