@charset "UTF-8";
/**
 *
 *  ページ用CSS
 *　location
 */
/*--------------------------------------------------------------------------
   Overwright
---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
   #location .intro
---------------------------------------------------------------------------*/
#location .sectionTitle {
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 1.8rem; }
  @media screen and (min-width: 767px) {
    #location .sectionTitle {
      font-size: 2.5rem; } }
  #location .sectionTitle__sub {
    margin-bottom: 1em;
    font-size: 2rem;
    color: #948a68; }
#location figcaption {
  font-size: 1.2rem;
  line-height: 1.2em; }
#location figure.nameContent {
  position: relative;
  display: flex;
  flex-flow: column; }
  #location figure.nameContent figcaption.name {
    display: block;
    margin: -1em 2em 0 2em;
    padding: .5em 0;
    font-size: 1.4rem;
    line-height: 1em;
    text-align: center;
    background: #415464;
    color: #dce5e9; }
    @media all and (-ms-high-contrast: none\0) {
      #location figure.nameContent figcaption.name *::-ms-backdrop, #location figure.nameContent figcaption.name {
        margin: .3em 2em 0 2em; } }
#location .md {
  display: none; }
  @media screen and (min-width: 767px) {
    #location .md {
      display: block; } }

#location .intro .sectionWrap {
  margin: auto;
  width: 90%;
  max-width: 1130px; }
#location .intro h3 {
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 1.8rem;
  color: #415464; }
  @media screen and (min-width: 767px) {
    #location .intro h3 {
      font-size: 2.5rem; } }
@media screen and (min-width: 767px) {
  #location .intro__read {
    text-align: center;
    line-height: 1.8em; } }
#location .intro__photoblock {
  margin-top: 1.5em;
  position: relative; }
  @media screen and (min-width: 767px) {
    #location .intro__photoblock {
      margin-top: 3em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (min-width: 767px) {
    #location .intro__photoblock__inner {
      width: 58%; } }
  #location .intro__photoblock__item01 {
    width: 80%;
    max-width: 558px; }
  #location .intro__photoblock__item02 {
    margin: -10% 0 0 auto;
    width: 45%;
    max-width: 288px;
    text-align: right; }
  #location .intro__photoblock__item03 {
    margin-top: -20%;
    width: 45%;
    max-width: 288px; }
    @media screen and (min-width: 767px) {
      #location .intro__photoblock__item03 {
        margin: 0 0 0 auto;
        width: 40%;
        max-width: 464px; } }

#location .shopping {
  margin-top: 3em;
  padding: 2em 0;
  background: #dce5e9; }
  @media screen and (min-width: 767px) {
    #location .shopping {
      margin-top: 5em;
      padding: 5em 0; } }
  #location .shopping .sectionWrap {
    margin: auto;
    width: 90%;
    max-width: 1130px; }
  @media screen and (min-width: 767px) {
    #location .shopping__read {
      text-align: center; } }
  #location .shopping__photoblock {
    margin-top: 1.5em;
    position: relative; }
    @media screen and (min-width: 767px) {
      #location .shopping__photoblock {
        margin-top: 3em; } }
    #location .shopping__photoblock__inner01 {
      margin-top: 3em; }
      @media screen and (min-width: 767px) {
        #location .shopping__photoblock__inner01 {
          margin-top: 5em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end; } }
      #location .shopping__photoblock__inner01__item01 {
        width: 90%;
        max-width: 580px; }
        #location .shopping__photoblock__inner01__item01 img {
          flex-shrink: 0; }
      #location .shopping__photoblock__inner01__item02 {
        margin: -10% 0 0 auto;
        width: 45%;
        max-width: 288px;
        text-align: right; }
        @media screen and (min-width: 767px) {
          #location .shopping__photoblock__inner01__item02 {
            margin: 0 0 0 1%; } }
    #location .shopping__photoblock__inner02 {
      margin-top: 3em; }
      @media screen and (min-width: 767px) {
        #location .shopping__photoblock__inner02 {
          margin-top: 5em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
      #location .shopping__photoblock__inner02__item01 {
        width: 90%;
        max-width: 580px; }
        #location .shopping__photoblock__inner02__item01 img {
          flex-shrink: 0; }
      #location .shopping__photoblock__inner02__item02 {
        margin: 10% 0 0 auto;
        width: 65%;
        max-width: 288px;
        text-align: right; }
        @media screen and (min-width: 767px) {
          #location .shopping__photoblock__inner02__item02 {
            margin: 0 0 0 1%;
            padding-top: 20%; } }

#location .park {
  padding: 2em 0; }
  @media screen and (min-width: 767px) {
    #location .park {
      padding: 5em 0; } }
  #location .park .sectionWrap {
    margin: auto;
    width: 90%;
    max-width: 1130px; }
  @media screen and (min-width: 767px) {
    #location .park__read {
      text-align: center; } }
  #location .park__photoblock {
    margin-top: 1.5em;
    position: relative; }
    @media screen and (min-width: 767px) {
      #location .park__photoblock {
        margin-top: 3em; } }
    #location .park__photoblock__inner01 {
      margin-top: 3em; }
      @media screen and (min-width: 767px) {
        #location .park__photoblock__inner01 {
          margin-top: 5em;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end; } }
      #location .park__photoblock__inner01__item01 {
        width: 90%;
        max-width: 460px; }
        #location .park__photoblock__inner01__item01 img {
          flex-shrink: 0; }
      #location .park__photoblock__inner01__item02 {
        margin: -10% 0 0 auto;
        width: 90%;
        max-width: 410px;
        text-align: right; }
        @media screen and (min-width: 767px) {
          #location .park__photoblock__inner01__item02 {
            margin: 0 0 0 1%; } }
      #location .park__photoblock__inner01__item02.small {
        width: 40%;
        max-width: 410px; }

#location .business {
  margin-top: 3em;
  padding: 2em 0;
  background: #dce5e9; }
  @media screen and (min-width: 767px) {
    #location .business {
      margin-top: 5em;
      padding: 5em 0; } }
  #location .business .sectionWrap {
    margin: auto;
    width: 90%;
    max-width: 1130px; }
  @media screen and (min-width: 767px) {
    #location .business__read {
      text-align: center; } }
  #location .business__photoblock {
    margin-top: 1.5em;
    position: relative; }
    @media screen and (min-width: 767px) {
      #location .business__photoblock {
        margin-top: 0em; } }
    #location .business__photoblock__inner01 {
      margin-top: 3em; }
      @media screen and (min-width: 767px) {
        #location .business__photoblock__inner01 {
          margin-top: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
      #location .business__photoblock__inner01__item01 {
        margin-top: 3em; }
        #location .business__photoblock__inner01__item01 img {
          flex-shrink: 0; }
        @media screen and (min-width: 767px) {
          #location .business__photoblock__inner01__item01 {
            margin-top: 2em;
            margin-left: 1%;
            width: 46%;
            max-width: 460px; } }

#location .map {
  padding: 2em 0; }
  @media screen and (min-width: 767px) {
    #location .map {
      padding: 5em 0; } }
  #location .map .sectionWrap {
    margin: auto;
    width: 100%;
    max-width: 1130px; }
  #location .map .btnMap {
    margin: 4em auto 0;
    text-align: center;
    width: 80%;
    max-width: 1000px; }
    #location .map .btnMap a {
      display: block;
      margin: auto;
      padding: 1.3em;
      width: 100%;
      max-width: 350px;
      background-image: -moz-linear-gradient(-30deg, #415464 0%, #384c5d 58%, #2f4455 100%);
      background-image: -webkit-linear-gradient(-30deg, #415464 0%, #384c5d 58%, #2f4455 100%);
      background-image: -ms-linear-gradient(-30deg, #415464 0%, #384c5d 58%, #2f4455 100%);
      color: #dce5e9; }

#location .information {
  padding: 2em 0; }
  @media screen and (min-width: 767px) {
    #location .information {
      padding: 5em 0; } }
  #location .information .sectionWrap {
    margin: auto;
    width: 90%;
    max-width: 1200px; }
  #location .information h3 {
    color: #948a68; }

#location .information .tab {
  position: relative;
  margin-bottom: 2em; }
  @media screen and (min-width: 767px) {
    #location .information .tab {
      z-index: 2; }
      #location .information .tab::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        left: 0;
        height: 1px;
        bottom: -3px;
        background-color: #415464; } }
  #location .information .tab ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media screen and (min-width: 767px) {
      #location .information .tab ul {
        flex-wrap: nowrap; } }
    #location .information .tab ul li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #415464;
      border: 1px solid #415464;
      color: #dce5e9;
      cursor: pointer;
      margin: 0 2px 3px 2px;
      width: calc( (100% - 12px) /3 );
      padding: .5em 1em; }
      @media screen and (min-width: 767px) {
        #location .information .tab ul li {
          padding: .5em .5em;
          background-color: #FFF;
          border: 1px solid #a2b6bd;
          border-bottom: none;
          color: #a2b6bd; }
          #location .information .tab ul li::before {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 6px;
            left: -1px;
            bottom: -6px;
            background-color: #a2b6bd; }
          #location .information .tab ul li::after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 6px;
            right: -1px;
            bottom: -6px;
            background-color: #a2b6bd; } }
      #location .information .tab ul li.here {
        background-color: #dce5e9;
        border: 1px solid #415464;
        color: #415464;
        position: relative; }
        @media screen and (min-width: 767px) {
          #location .information .tab ul li.here {
            background-color: #FFF;
            border-bottom: none; }
            #location .information .tab ul li.here::before {
              content: '';
              display: block;
              position: absolute;
              width: 1px;
              height: 6px;
              left: -1px;
              bottom: -6px;
              background-color: #415464; }
            #location .information .tab ul li.here::after {
              content: '';
              display: block;
              position: absolute;
              width: 1px;
              height: 6px;
              right: -1px;
              bottom: -6px;
              background-color: #415464; }
            #location .information .tab ul li.here p::after {
              content: '';
              display: block;
              position: absolute;
              width: 100%;
              height: 1px;
              left: 0;
              bottom: -6px;
              background-color: #FFF; } }

#location .information .tab_contents .hide {
  display: none; }

#location .information .tab_contents_inner h4 {
  margin-bottom: 2em;
  text-align: center;
  color: #948a68; }
#location .information .tab_contents_inner .photoListBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (min-width: 767px) {
    #location .information .tab_contents_inner .photoListBlock {
      margin-left: -2%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  #location .information .tab_contents_inner .photoListBlock figure {
    margin-bottom: 1em;
    width: 47%; }
    @media screen and (min-width: 767px) {
      #location .information .tab_contents_inner .photoListBlock figure {
        width: 23%;
        margin-left: 2%; } }
#location .information .tab_contents_inner .textListBlock {
  margin-top: 2em;
  font-size: 1.2rem; }
  @media screen and (min-width: 767px) {
    #location .information .tab_contents_inner .textListBlock {
      font-size: 1.4rem; } }
  @media screen and (min-width: 767px) {
    #location .information .tab_contents_inner .textListBlock .textListBlock__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #location .information .tab_contents_inner .textListBlock .textListBlock__list > li {
        width: 45%; } }
  #location .information .tab_contents_inner .textListBlock .textListBlock__list__inner > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.8em;
    padding-bottom: 0.8em;
    line-height: 1.2em;
    border-bottom: 1px dotted #646468; }


/*--------------------------------------------------------------------------
   #location .bnr_review
---------------------------------------------------------------------------*/

.bnr_review{
  width: 100%!important;
  margin-bottom: 20px!important;
}