@charset "UTF-8";
/**
 *
 *  ページ用CSS
 *　review
 */
/*--------------------------------------------------------------------------
   Overwright
---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/
#movie {
  /* clearfix */
}
#movie figure {
  position: relative;
}
#movie figure figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 .5em;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.2rem;
}
#movie .sm {
  display: block;
}
@media screen and (min-width: 480px) {
  #movie .sm {
    display: none;
  }
}
#movie .md {
  display: none;
}
@media screen and (min-width: 767px) {
  #movie .md {
    display: block;
  }
}
#movie .clearfix {
  *zoom: 1;
  overflow: hidden;
}
#movie .clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
#movie .intro {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}
@media screen and (min-width: 767px) {
  #movie .intro {
    margin-top: 2em;
  }
}
#movie .intro h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #415464;
}
@media screen and (min-width: 767px) {
  #movie .intro h3 {
    font-size: 2rem;
  }
}
#movie h4 {
  text-align: center;
  font-size: 1.8rem;
  color: #415464;
}
@media screen and (min-width: 960px) {
  #movie h4 {
    font-size: 2.5rem;
  }
}
#movie .movieBlock {
  margin: 4em auto 0;
  width: 90%;
  max-width: 900px;
}

.locationMovieBlock__youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.locationMovieBlock__youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.movieBlock h3{
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 3%;
}

.movieBlock h3 b{
  color: red;
}

