@charset "UTF-8";
/* brake point */
/* font color */
/* =========================================================
	PC/SP
========================================================== */

.pc{display: block;}
.sp{display: none;}

@media screen and (max-width: 960px) {
  .pc{display: none;}
  .sp{display: block;}
}

img {
  width: 100%;
}

/* =========================================================
	.alignfull  & .alignwide
========================================================== */
.alignfull {
  width: 100vw !important;
  margin-left: calc( 50% - 50vw );
  margin-right: calc( 50% - 50vw );
  max-width: none; }

@media screen and (max-width: 1103px) {
  .alignfull_sp {
    padding: 0;
    width: 100vw !important;
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
    max-width: none; } }

@media screen and (min-width: 1104px) {
  .alignwide {
    width: 1104px !important;
    margin-left: calc( 50% - 1104px / 2 ) !important; } }

/* =========================================================
	.cap
========================================================== */
span.cap {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1%;
  color: #bfbfbf;
  font-size: 1.1rem;
  background: rgba(30, 30, 30, 0.7); }
  @media screen and (min-width: 1104px) {
    span.cap {
      font-size: 1.4rem;
      line-height: 1.6rem; } }

.min-note {
  font-size: 1.2rem; }
  @media screen and (min-width: 1104px) {
    .min-note {
      font-size: 0.8rem; } }

span.minuteWalkTimes {
  font-size: 0.8em; }

/* =========================================================
	.sectionTitle
========================================================== */
.sectionTitle {
  position: relative;
  margin-top: 80px;
}
  .sectionTitle .sectionTitle__sub {
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 1.5rem;
    color: #1f1f1f; }
    @media screen and (min-width: 1104px) {
      .sectionTitle .sectionTitle__sub {
        font-size: 2rem;
        margin-bottom: 2em; } }

  .sectionTitle h3 {
    color: #142e77;
    font-size: 2.5rem;
    line-height: 1.5em;
    text-align: center; }

    @media screen and (min-width: 1104px) {
      .sectionTitle h3 {
        font-size: 3.0rem;
        font-weight: 600;
        line-height: 1.7em;
        letter-spacing: 0.1em; } }

  .sectionTitle .title{
    width: 90%;
    text-align: center;
    margin: 30px auto 0;
  }


h4 {
  margin-bottom: 1em;
  font-size: 2rem;
  line-height: 1.5em;
  color: #70452e;
  text-align: center; }
  @media screen and (min-width: 1104px) {
    h4 {
      margin-bottom: 2em;
      font-size: 2.8rem;
      line-height: 1.8em;
      font-weight: 600; } }

.sideAlphabet {
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .sideAlphabet::before {
    content: '';
    width: 5%;
    max-width: 15px;
    min-width: 10px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle; }

/* =========================================================
  .read
========================================================== */

.sectionTitle{
  text-align: center;
  width: 90%;
  margin: 80px auto 0;
}

.sectionTitle h3{
  font-size: 2.8rem;
  text-align: center;
  color: #415464;
  font-weight: normal;
}

.sectionTitle .read{
  margin-top: 20px;
  font-size: 1.8rem;
  line-height: 2.0;
}

@media screen and (max-width: 960px) {

  .sectionTitle{
    margin: 40px auto 0;
  }

  .page-ttl h2{
  font-size: 3.5rem!important;
  }

}

/* =========================================================
  .anker
========================================================== */

.anker{
  width: 90%;
  max-width: 1200px;
  margin: 80px auto 0;
  font-size: 0;
}

.anker ul li{
  width: 30%;
  display: inline-block;
}

.anker ul li{
  margin-right: 3%;
  vertical-align: top;
}

.anker ul li:nth-child(3){
  margin-right: 0;
}


@media screen and (max-width: 960px) {
  .anker{
  margin: 40px auto 0;
  }

  .anker ul li{
  width: 100%;
  display: block;
  margin-right: 0%;
  margin-bottom: 3%;
  }

  .anker ul li:nth-child(3){
  margin-bottom: 0%;
  }
}


/* =========================================================
  .cont
========================================================== */

#cont1,#cont2 .inner{
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 0;
  line-height: 2.0;
}

#cont3 .inner{
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 0;
  line-height: 2.0;
}


#cont1 .title{
  width: 100%;
  margin: 80px auto 0;
}

#cont2 .title{
  width: 100%;
  margin: 80px auto 0;
}

#cont3 .title{
  width: 100%;
  margin: 0 auto 0;
}


.talk_title{
  margin-left: -60px;
}

@media screen and (max-width: 960px) {
.talk_title{
  margin-left: -50px;
}
}


/* =========================================================
  .cont1
========================================================== */



/********** talk1 **********/

#cont1 .talk1{
  width: 100%;
  margin: 60px auto 0;
}

#cont1 .talk1 .left{
  width: 50%;
  display: inline-block;
  margin-right: 3%;
  vertical-align: top;
}

#cont1 .talk1 .right{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

#cont1 .talk1 .talk_title{
  max-width: 736px;
}

#cont1 .talk1 .left p{
  margin-top: 40px;
}

@media screen and (max-width: 960px) {

  #cont1 .talk1{
  width: 90%;
  margin: 40px auto 0;
  }

  #cont1 .talk1 .left{
  width: 100%;
  display: block;
  margin: 0 auto;
  }

#cont1 .talk1 .right{
  width: 100%;
  display: block;
  margin: 30px auto 0;
  }

  #cont1 .talk1 .talk_title{
    max-width: 100%;
  }

  #cont1 .talk1 .left p{
  margin-top: 20px;
  }

}


/********** talk2 **********/


#cont1 .talk2{
  width: 100%;
  margin: 60px auto 0;
}

#cont1 .talk2 .talk_title{
  width: 80%;
  max-width: 498px;
}

#cont1 .talk2 .left{
  width: 32%;
  display: inline-block;
  margin-top: 30px;
  margin-right: 3%;
  vertical-align: top;
}

#cont1 .talk2 .right{
  width: 63%;
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}

#cont1 .talk2 .right .talk_photo{
  max-width: 575px;
  margin-top: 40px;
}

@media screen and (max-width: 960px) {
 #cont1 .talk2{
  width: 90%;
  }

  #cont1 .talk2 .talk_title{
  width: 100%;
  }

  #cont1 .talk2 .left{
  display: none;
  }

  #cont1 .talk2 .right{
  width: 100%;
  display: block;
  margin: 30px auto 0;
  }

  #cont1 .talk2 .right .talk_photo{
  max-width: 100%;
  }

}


/********** talk3 **********/

#cont1 .talk3{
  width: 100%;
  margin: 60px auto 0;
}

#cont1 .talk3 .talk_title{
  width: 90%;
  max-width: 547px;
}

#cont1 .talk3 p{
  margin-top: 40px;
}

#cont1 .talk3 .talk_photo{
  margin: 40px 0 0;
}


@media screen and (max-width: 960px) {
  #cont1 .talk3{
  width: 90%;
  }
}


/********** talk4 **********/

#cont1 .talk4{
  width: 100%;
  margin: 60px auto 0;
}

#cont1 .talk4 .left{
  width: 50%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

#cont1 .talk4 .left .talk_title{
  max-width: 587px;
}

#cont1 .talk4 .left p{
  margin: 40px auto;
  display: block;
}

#cont1 .talk4 .right{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 960px) {
  #cont1 .talk4{
    width: 90%;
  }

  #cont1 .talk4 .left{
  width: 100%;
  margin-right: 0;
  display: block;
  }

  #cont1 .talk4 .left p{
  margin: 20px auto;
  }

  #cont1 .talk4 .right{
  width: 100%;
  display: block;
  margin-top: 20px;
  }
}


/********** talk5 **********/

#cont1 .talk5{
  width: 100%;
  margin: 60px auto 0;
}


#cont1 .talk5 .talk_title{
  width: 90%;
  max-width: 632px;
}

#cont1 .talk5 .left{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-right: 3%;
}

#cont1 .talk5 .right{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}


@media screen and (max-width: 960px) {
  #cont1 .talk5{
    width: 90%;
  }

  #cont1 .talk5 .talk_title{
  width: 100%;
  }

  #cont1 .talk5 .left{
  width: 100%;
  display: block;
  margin-top: 30px;
  margin-right: 0;
  }

  #cont1 .talk5 .right{
  width: 100%;
  display: block;
  margin-top: 30px;
  }

  #cont1 .talk5 .right p{
    margin-bottom: 40px;
  }

}


/* =========================================================
  .cont2
========================================================== */

#cont2{
  padding: 0 0 80px 0;
  margin: 80px auto 0;
  background-color: #e5e5e5;
}


/********** talk1 **********/

#cont2 .talk1{
  width: 100%;
  margin: 60px auto 0;
}

#cont2 .talk1 .talk_title{
  width: 90%;
  max-width: 655px;
}

#cont2 .talk1 p{
  margin: 40px auto;
}

@media screen and (max-width: 960px) {
  #cont2 .talk1{
    width: 90%;
  }
}

/********** talk2 **********/

#cont2 .talk2{
  width: 100%;
  margin: 60px auto 0;
}

#cont2 .talk2 .talk_title{
  width: 90%;
  max-width: 603px;
}

#cont2 .talk2 .left{
  width: 40%;
  margin-top: 40px;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

#cont2 .talk2 .right{
  width: 55%;
  margin-top: 40px;
  display: inline-block;
  vertical-align: top;
}


#cont2 .talk2 .right .talk_photo{
  margin-top: 40px;
  max-width: 392px;
}

@media screen and (max-width: 960px) {
  #cont2 .talk2{
    width: 90%;
  }

  #cont2 .talk2 .left{
  width: 100%;
  margin-top: 40px;
  margin-right: 0;
  display: block;
  }

#cont2 .talk2 .right{
  width: 100%;
  margin-top: 40px;
  margin-right: 0;
  display: block;
  }

  #cont2 .talk2 .right .talk_photo{
  max-width: 100%;
  }

}

/********** talk3 **********/

#cont2 .talk3{
  width: 100%;
  margin: 60px auto 0;
}

#cont2 .talk3 .talk_title{
  width: 90%;
  max-width: 474px;
}

#cont2 .talk3 .left{
  width: 40%;
  margin-top: 40px;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

#cont2 .talk3 .right{
  width: 56%;
  margin-top: 20px;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 960px) {
  #cont2 .talk3{
    width: 90%;
  }

  #cont2 .talk3 .left{
  width: 100%;
  margin-top: 40px;
  margin-right: 0;
  display: block;
  }

#cont2 .talk3 .right{
  width: 100%;
  margin-top: 40px;
  display: block;
  }

}


/********** talk4 **********/

#cont2 .talk4{
  width: 100%;
  margin: 60px auto 0;
}

#cont2 .talk4 .talk_title{
  width: 90%;
  max-width: 357px;
}

#cont2 .talk4 .left{
  width: 60%;
  margin-top: 40px;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

#cont2 .talk4 .right{
  width: 35%;
  margin-top: 40px;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
}


@media screen and (max-width: 960px) {
  #cont2 .talk4{
    width: 90%;
  }

  #cont2 .talk4 .left{
  width: 100%;
  margin-top: 40px;
  margin-right: 0;
  display: block;
  }

#cont2 .talk4 .right{
  width: 100%;
  margin-top: 40px;
  display: block;
  }

}


/********** talk5 **********/

#cont2 .talk5{
  width: 100%;
  margin: 60px auto 0;
}

#cont2 .talk5 .left{
  width: 45%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

#cont2 .talk5 .left .talk_title{
  width: 100%;
  max-width: 597px;
  margin-bottom: 40px;
}


#cont2 .talk5 .right{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 960px) {
  #cont2 .talk5{
    width: 90%;
  }

  #cont2 .talk5 .left{
  width: 100%;
  margin-right: 0;
  display: block;
  }

  #cont2 .talk5 .right{
  width: 100%;
  display: block;
  margin-top: 40px;
  }

}



/* =========================================================
  .cont3
========================================================== */



/********** talk1 **********/

#cont3 .talk1{
  width: 100%;
  margin: 60px auto 0;
}

#cont3 .talk1 .talk_title{
  max-width: 736px;
}

#cont3 .talk1 p{
  margin-top: 40px;
}

@media screen and (max-width: 960px) {

  #cont3 .talk1{
  width: 90%;
  margin: 40px auto 0;
  }

  #cont3 .talk1 .talk_title{
    max-width: 100%;
  }

  #cont3 .talk1 p{
  margin-top: 20px;
  }

}


/********** talk2 **********/


#cont3 .talk2{
  width: 100%;
  margin: 60px auto 0;
}

#cont3 .talk2 .talk_title{
  width: 80%;
  max-width: 575px;
}

#cont3 .talk2 .left{
  width: 32%;
  display: inline-block;
  margin-top: 30px;
  margin-right: 3%;
  vertical-align: top;
}

#cont3 .talk2 .right{
  width: 63%;
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}

#cont3 .talk2 .right .talk_photo{
  max-width: 575px;
  margin-top: 40px;
}

@media screen and (max-width: 960px) {
 #cont3 .talk2{
  width: 90%;
  }

  #cont3 .talk2 .talk_title{
  width: 100%;
  }

  #cont3 .talk2 .left{
  display: none;
  }

  #cont3 .talk2 .right{
  width: 100%;
  display: block;
  margin: 30px auto 0;
  }

  #cont3 .talk2 .right .talk_photo{
  max-width: 100%;
  }

}


/********** talk3 **********/

#cont3 .talk3{
  width: 100%;
  margin: 60px auto 0;
}

#cont3 .talk3 .talk_title{
  width: 90%;
  max-width: 547px;
}

#cont3 .talk3 p{
  margin-top: 40px;
}

#cont3 .talk3 .left{
  width: 52%;
  display: inline-block;
  margin-top: 30px;
  margin-right: 3%;
  vertical-align: top;
}

#cont3 .talk3 .right{
  width: 43%;
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}

#cont3 .talk3 .right .talk_photo{
  max-width: 575px;
  margin-top: 40px;
}

@media screen and (max-width: 960px) {
 #cont3 .talk3{
  width: 90%;
  }

  #cont3 .talk3 .talk_title{
  width: 100%;
  }

  #cont3 .talk3 .left{
  width: 100%;
  display: block;
  margin: 30px auto 0;
  }


  #cont3 .talk3 .right{
  width: 100%;
  display: block;
  margin: 30px auto 0;
  }

  #cont3 .talk3 .right .talk_photo{
  max-width: 100%;
  }

}

/********** talk4 **********/

#cont3 .talk4{
  width: 100%;
  margin: 60px auto 0;
}

#cont3 .talk4 .talk_title{
  max-width: 587px;
}

#cont3 .talk4 p{
  margin: 40px auto;
  display: block;
}

@media screen and (max-width: 960px) {
  #cont3 .talk4{
    width: 90%;
  }

  #cont3 .talk4 p{
  margin: 20px auto;
  }
}


/********** talk5 **********/

#cont3 .talk5{
  width: 100%;
  margin: 60px auto 0;
}


#cont3 .talk5 .talk_title{
  width: 90%;
  max-width: 562px;
}

#cont3 .talk5 .left{
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-right: 3%;
}

#cont3 .talk5 .right{
  width: 55%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}


@media screen and (max-width: 960px) {
  #cont3 .talk5{
    width: 90%;
  }

  #cont3 .talk5 .talk_title{
  width: 100%;
  }

  #cont3 .talk5 .left{
  width: 100%;
  display: block;
  margin-top: 30px;
  margin-right: 0;
  }

  #cont3 .talk5 .right{
  width: 100%;
  display: block;
  margin-top: 30px;
  }

  #cont3 .talk5 .right p{
    margin-bottom: 40px;
  }

}



/********** talk6 **********/

#cont3 .talk6{
  width: 100%;
  margin: 60px auto 10%;
}


#cont3 .talk6 .talk_title{
  width: 90%;
  max-width: 562px;
  margin-bottom: 3%;
}

#cont3 .talk6 .left{
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-right: 3%;
}

#cont3 .talk6 .right{
  width: 55%;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
}


@media screen and (max-width: 960px) {
  #cont3 .talk6{
    width: 90%;
  }

  #cont3 .talk6 .talk_title{
  width: 100%;
  }

  #cont3 .talk6 .left{
  width: 100%;
  display: block;
  margin-top: 30px;
  margin-right: 0;
  }

  #cont3 .talk6 .right{
  width: 100%;
  display: block;
  margin-top: 30px;
  }

  #cont3 .talk6 .right p{
    margin-bottom: 40px;
  }

}



/********** page_bnr **********/

.page_bnr{
  width: 90%;
  max-width: 678px;
  margin: 40px auto 0;
  display: block;
}