@charset "utf-8";
/**
 *
 *  ページ用CSS
 *　安心・安全safety
 */

//**************************
// brake point
//**************************
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1023px;
$breakpoint-xll: 1279px;
$breakpoint-max: 1600px;

@mixin breakpoint-sm {
	@media screen and (min-width:($breakpoint-sm)) { @content; } }

@mixin breakpoint-md {
	@media screen and (min-width:($breakpoint-md)) { @content; } }

@mixin breakpoint-lg {
	@media screen and (min-width:($breakpoint-lg)) { @content; } }

@mixin breakpoint-xl {
	@media screen and (min-width:($breakpoint-xl)) { @content; } }

@mixin breakpoint-xll {
	@media screen and (min-width:($breakpoint-xll)) { @content; } }

@mixin breakpoint-max {
	@media screen and (min-width:($breakpoint-max)) { @content; } }

//**************************
// color
//**************************
$color_primaryA_01:rgba(220, 229, 233, 1);
$color_primaryA_02:rgba(181, 199, 206, 1);
$color_primaryA_03:rgba(162, 182, 189, 1);
$color_primaryA_04:rgba(65, 84, 100, 1);

$color_accentA_01:rgba(144, 78, 85, 1);
$color_accentB_01:rgba(102, 139, 103, 1);

$color_accentC_01:rgba(235, 220, 203, 1);
$color_accentC_02:rgba(191, 180, 143, 1);
$color_accentC_03:rgba(148, 138, 104, 1);

$color_gray_01:rgba(100, 100, 104, 1);
$color_gray_02:rgba(37, 38, 39, 1);//TEXT Color
$color_gray_03:rgba(8, 9, 9, 1);

$color_white:rgba(255, 255, 255, 1);
$color_black:rgba(0, 0, 0, 1);

.sm {
	display: block;
	@include breakpoint-sm {
		display: none;
	}
}
.sm-md {
	display: block;
	@include breakpoint-md {
		display: none;
	}
}
.sm-lg {
	display: block;
	@include breakpoint-xl {
		display: none;
	}
}
.md {
	display: none;
	@include breakpoint-md {
		display: block;
	}
}
.lg {
	display: none;
	@include breakpoint-lg {
		display: block;
	}
}
.xl {
	display: none;
	@include breakpoint-xl {
		display: block;
	}
}
/*--------------------------------------------------------------------------
   Overwright
---------------------------------------------------------------------------*/
.page-ttl h2 {
	margin-top: -30px;
	font-size: 6rem;
}

@media screen and (max-width:1280px) {
	.page-ttl h2{
		margin-top: -20px;
		font-size: 4rem;
	}
}
@media screen and (max-width:480px) {
    .page-ttl h2 {
			margin-top: -20px;
      font-size: 4.5rem;
    }
}


/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/

#safety {
	figure {
		position: relative;
		figcaption {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0 .5em;
			background: rgba($color_black, .5);
			color: $color_white;
			font-size: 1.2rem;
		}
	}
	h3 {
		position: relative;
		margin-bottom: 3em;
		text-align: center;
		font-size: 1.8rem;
		color: $color_primaryA_04;
		@include breakpoint-md {
			margin-bottom: 6em;
			font-size: 2.5rem;
		}
		&::before {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -1em;
			display: inline-block;
			width: 50%;
			height: 2px;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			background-color:  $color_primaryA_04;
			@include breakpoint-lg {
				bottom: -2em;
				width: 20%;
			}
		}
	}
	h4 {
		font-size: 1.8rem;
		color: $color_accentC_03;
		@include breakpoint-md {
			font-size: 2.5rem;
		}
		&+p {
			margin-top: 1em;
		}
	}
	p+figure {
		margin-top: 1em;
	}
	.note {
		margin-top: .4em;
		font-size: 1.2rem;
		color: $color_gray_01;
		line-height: 1.3em;
	}
}


#safety {
	.pageNav {
		padding-bottom: 1em;
		.sectionWrap {
			margin: auto;
			width: 90%;
			max-width: 700px;
		}
		&__list {
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			&__item {
				margin-top: 1em;
				width: 48%;
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				span {
					font-size: 1rem;
					color: rgba($color_white,.5);
				}
				a {
					position: relative;
					display:-webkit-box;
					display:-ms-flexbox;
					display:flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					display: block;
					padding: 1em .5em 2em .5em;
					width: 100%;
					text-align: center;
					color: $color_white;
					background: $color_gray_02;
					transition: .7s ease-out;
					@include breakpoint-lg {
						font-size: 1.8rem;
						padding: .7em 1em 1.7em 1em;
					}
					&.current {background: $color_accentC_03;}
					&::before {
						content:"";
						position: absolute;
						bottom: 10%;
						left: 50%;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);/*位置調整*/
						display:block;
						width: 8px;
						height: 8px;
						background:url("../images/pagenav_img02.png") no-repeat;
						background-size:100% auto;
					}
					&:hover {
						background: #776939;
						opacity: 1;
					}
				}
			}
		}
	}
}

#safety .eco {
margin-top: 3em;
	@include breakpoint-lg {
		margin-top: 6em;
	}
	.sectionWrap {
		margin: auto;
		width: 90%;
		max-width: 1200px;
	}
	&__wrap01 {
		margin-top: 2em;
		@include breakpoint-lg {
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
	}
	&__block01 {
		@include breakpoint-lg {
			width: 48%;
		}
		figure {
			@include breakpoint-lg {
				margin-top: 2em;
			}
		}
	}
	&__block02 {
		margin-top: 2em;
		@include breakpoint-lg {
			margin-top: 0;
			width: 45%;
		}
		h5 {
			font-size: 1.6rem;
			color: $color_accentC_03;
			@include breakpoint-lg {
				font-size: 1.8rem;
			}
		}
	}
	&__block03 {
		margin-top: 2em;
		@include breakpoint-lg {
			margin-top: 6em;
		}
		h5 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			@include breakpoint-lg {
				text-align: center;
				font-size: 2.2rem;
			}
			& + p {
				margin-top: 1em;
			}
		}
		ul {
			margin-top: 1em;
			@include breakpoint-lg {
				margin-top: 3em;
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
			}
			li{
				margin-top: 2em;
				@include breakpoint-lg {
					margin-top: 0;
				}
				&.img03 {
					@include breakpoint-lg {
						width: 36%;
					}
				}
				&.img04 {
					@include breakpoint-lg {
						width: 24%;
					}
				}
				&.img05 {
					@include breakpoint-lg {
						width: 30%;
					}
				}
			}
		}
	}
	&__block04 {
		margin-top: 2em;
		@include breakpoint-lg {
			margin-top: 4em;
		}
	}
	&__block05 {
		margin-top: 2em;
		padding: 1em;
		border: 2px solid rgba($color_accentC_03,.3);
		@include breakpoint-lg {
			margin-top: 4em;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
		h5 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		&__inner01 {
			@include breakpoint-lg {
				width: 55%;
			}
			.subRead {
				margin-top: 1em;
				color: $color_accentC_03;
				@include breakpoint-lg {
					margin-top: 3em;
				}
				&+p {
					margin-top: 1em;
				}
			}
		}
		&__inner02 {
			margin-top: 1em;
			@include breakpoint-lg {
				margin-top: 0;
				width: 35%;
			}
		}
	}
}


#safety .disasterPrevention {
margin-top: 3em;
	@include breakpoint-lg {
		margin-top: 6em;
	}
	.sectionWrap {
		margin: auto;
		width: 90%;
		max-width: 1200px;
	}
	&__wrap01 {
		margin-top: 2em;
		@include breakpoint-lg {
			margin-top: 4em;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
	}
	&__block01 {
		@include breakpoint-lg {
			width: 40%;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		h5 {
			margin-top: 2em;
			color: $color_accentC_03;
			&+figure {
				margin-top: 1em;
			}
		}
	}
	&__block02 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 0;
			width: 55%;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
	}
	&__wrap02  {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 4em;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
	}
	&__block03 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 0;
			width: 32%;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
	}
	&__block04 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 0;
			width: 30%;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		&__inner {
			margin-top: 1em;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			&__read {width: 55%;}
			&__photo {width: 40%;}
		}
	}
	&__block05 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 0;
			width: 30%;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		&__inner {
			margin-top: 1em;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			&__read {width: 55%;}
			&__photo {width: 40%;}
		}
	}
}

#safety .security {
	margin-top: 3em;
	padding-top: 3em;
	background: $color_primaryA_01;
	@include breakpoint-lg {
		margin-top: 6em;
		padding-top: 6em;
		padding-bottom: 6em;
	}
	.sectionWrap {
		margin: auto;
		width: 90%;
		max-width: 1200px;
	}
	h3 {
		margin-bottom: 2em;
		.subTitle {
			color: $color_accentC_03;
			font-size: 1.3rem;
			margin-bottom: 1em;
			@include breakpoint-lg {
				font-size: 1.8rem;
			}
		}
		&::before {
			content: none;
		}
	}
	&__wrap01 {
		@include breakpoint-lg {
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
	}
	&__block01 {
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_primaryA_04;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		@include breakpoint-lg {
			width: 52%
		}
		figure {
			@include breakpoint-lg {
				margin-top: 2em;
				width: 85%;
			}
		}
	}
	&__block02 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 0;
			width: 40%
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_primaryA_04;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		figure {
			@include breakpoint-lg {
				margin-top: 2em;
				width: 85%;
			}
		}
	}
	&__block03 {
		margin-top: 3em;
		@include breakpoint-lg {
		}
		ul {
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			&::before{
				content:"";
				display:block;
				width: 23%;
				height:0;
				order:1;
			}
			&:after{
				content:"";
				display:block;
				width: 23%;
				height:0;
			}
			li {
				margin-top: 2em;
				width: 48%;
				font-size: 1.3rem;
				@include breakpoint-lg {
					font-size: 1.5rem;
					width: 23%;
				}
				h5 {
					color: $color_primaryA_04;
					margin-bottom: .5em;
					@include breakpoint-lg {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
	
#safety .premiumSupportNev {
	margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 6em;
		}
}
#safety .premiumSupport {
margin-top: 3em;
	@include breakpoint-lg {
		margin-top: 6em;
	}
	.sectionWrap {
		margin: auto;
		width: 90%;
		max-width: 1200px;
	}
	&__block01 {
		margin-top: 3em;
		@include breakpoint-lg {
		}
		h4 {
			margin: auto;
			text-align: center;
			width: 100%;
			max-width: 400px;
		}
		h5 {
			margin-top: 1em;
			font-size: 1.4rem;
			color: $color_accentC_03;
			@include breakpoint-lg {
				margin-top: 3em;
				font-size: 2.2rem;
			}
			&+p {
				margin-top: 1em;
			}
		}
		&__innerPhoto {
			margin-top: 1em;
			@include breakpoint-lg {
				margin-top: 3em;
			}
			.js-scrollable .scrollImg {
				width: 1000px;
				@include breakpoint-md {
					width: 100%;
				}
			}
		}
	}
	&__block02 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 6em;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		ul {
			margin-top: 1em;
			@include breakpoint-lg {
				margin-top: 3em;
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: reverse;
				-ms-flex-direction: row-reverse;
				flex-direction: row-reverse;
			}
			li {
				margin-top: 1em;
				@include breakpoint-lg {
					margin-top: 0;
				}
				&.img03 {
					@include breakpoint-lg {
						width: 33%;
					}
				}
				&.img04 {
					@include breakpoint-lg {
						width: 60%;
					}
				}
			}
		}
	}
	&__block03 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 6em;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		&__inner {
			margin-top: 2em;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			@include breakpoint-lg {
				width: 70%;
			}
			&__read {
				width: 55%;
				@include breakpoint-lg {
					width: 75%;
				}
			}
			&__photo {
				width: 35%;
				@include breakpoint-lg {
					width: 15%;
				}
			}
		}
		h5 {
			margin-top: 2em;
			color: $color_accentC_03;
		}
		ul {
			margin-top: -1em;
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
/*			&::before{
				content:"";
				display:block;
				width: 23%;
				height:0;
				order:1;
			}
			&:after{
				content:"";
				display:block;
				width: 23%;
				height:0;
			}*/
			li {
				margin-top: 2em;
				width: 48%;
				font-size: 1.3rem;
				@include breakpoint-lg {
					font-size: 1.5rem;
				}
				p {
					margin-top: .2em;
					font-size: 1.3rem;
					@include breakpoint-lg {

					}
				}
			}
		}
		&__inner02 {
			@include breakpoint-lg {
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			}
			&__standard {
				@include breakpoint-lg {
					width: 83%;
				}
				ul {
					li {
						@include breakpoint-lg {
							width: 18%;
						}
					}
				}
			}
			&__option {
				@include breakpoint-lg {
					width: 15%;
				}
				ul {
					li {
						@include breakpoint-lg {
							width: 100%;
						}
					}
				}
			}
		}
	}
	&__block04 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 6em;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		ul {
			margin-top: 1em;
			@include breakpoint-lg {
				//margin-top: 3em;
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
			}
			li {
				margin-top: 1em;
				@include breakpoint-lg {
					width: 32%;
				}
				.premiumSupport__block04__listInner {
					padding: .5em;
					background: $color_accentC_01;
					display:-webkit-box;
					display:-ms-flexbox;
					display:flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
					color: $color_accentC_03;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					@include breakpoint-lg {
						//display: block;
						margin-top: 0;
					}
					p.photo {
						width: 50%;
					}
					p.read {
						width: 45%;
					}
				}
			}
		}
	}
	&__block05 {
		margin-top: 3em;
		@include breakpoint-lg {
			margin-top: 6em;
		}
		h4 {
			padding: .3em .5em;
			font-size: 1.4rem;
			color: $color_white;
			background: $color_accentC_03;
			text-align: center;
			@include breakpoint-lg {
				font-size: 2.2rem;
			}
		}
		ul {
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			li {
				margin-top: 2em;
				width: 48%;
				@include breakpoint-lg {
					width: 18%;
				}
				&.img19 {
					width: 100%;
				@include breakpoint-lg {
					width: 18%;
				}
				}
			}
		}
	}
}
	
	
	
	
	
	
	
	
	
	
	
	