@charset "utf-8";
/**
 *
 *  ページ用CSS
 *　access
 */

//**************************
// brake point
//**************************
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1023px;
$breakpoint-xll: 1279px;
$breakpoint-max: 1600px;

@mixin breakpoint-sm {
	@media screen and (min-width:($breakpoint-sm)) { @content; } }

@mixin breakpoint-md {
	@media screen and (min-width:($breakpoint-md)) { @content; } }

@mixin breakpoint-lg {
	@media screen and (min-width:($breakpoint-lg)) { @content; } }

@mixin breakpoint-xl {
	@media screen and (min-width:($breakpoint-xl)) { @content; } }

@mixin breakpoint-xll {
	@media screen and (min-width:($breakpoint-xll)) { @content; } }

@mixin breakpoint-max {
	@media screen and (min-width:($breakpoint-max)) { @content; } }

//**************************
// color
//**************************
$color_primaryA_01:rgba(220, 229, 233, 1);
$color_primaryA_02:rgba(181, 199, 206, 1);
$color_primaryA_03:rgba(162, 182, 189, 1);
$color_primaryA_04:rgba(65, 84, 100, 1);

$color_accentA_01:rgba(144, 78, 85, 1);
$color_accentB_01:rgba(102, 139, 103, 1);

$color_accentC_01:rgba(235, 220, 203, 1);
$color_accentC_02:rgba(191, 180, 143, 1);
$color_accentC_03:rgba(148, 138, 104, 1);

$color_gray_01:rgba(100, 100, 104, 1);
$color_gray_02:rgba(37, 38, 39, 1);//TEXT Color
$color_gray_03:rgba(8, 9, 9, 1);

$color_white:rgba(255, 255, 255, 1);
$color_black:rgba(0, 0, 0, 1);


/*--------------------------------------------------------------------------
   Overwright
---------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/


#access {
	.sm {
		display: block;
		@include breakpoint-sm {
			display: none;
		}
	}
	.md {
		display: none;
		@include breakpoint-md {
			display: block;
		}
	}
	.intro {
		margin: auto;
		width: 90%;
		max-width: 1200px;
		h3 {
			text-align: center;
			font-size: 1.8rem;
			color: $color_primaryA_04;
			@include breakpoint-md {
				font-size: 2.5rem;
			}
		}
		.accessTime {
			margin-top: 3em;
			@include breakpoint-md {
				margin: 3em auto 0;
				width: 70%;
				max-width: 510px;
			}
		}
		.photoBlock {
			margin-top: 3em;
			@include breakpoint-md {
				margin-top: 5em;
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
			}
		}
		figure {
			position: relative;
			figcaption {
				position: absolute;
				bottom: 0;
				right: 0;
				padding: 0 .5em;
				background: rgba($color_black, .5);
				color: $color_white;
				font-size: 1.2rem;
			}
		}
		.read {
			margin-top: 3em;
			@include breakpoint-md {
				text-align: center;
			}
		}
		.accessIllust {
			margin-top: 3em;
			@include breakpoint-md {
				margin: 5em auto 0;
				width: 70%;
				max-width: 700px;
			}
		}
	}
	.simulation {
		margin-top: 3em;
		background: url("../images/access_img05.png") center top no-repeat;
		background-size: cover;
		.sectionWrap {
			margin: auto;
			padding: 2em 0;
			width: 90%;
			max-width: 1000px;
		}
		h4 {
			color: $color_primaryA_04;
			text-align: center;
			.subTitle {
				font-size: 1.2rem;
				@include breakpoint-md {
					font-size: 1.6rem;
				}
			}
			.Title {
				margin-bottom: 2em;
				position: relative;
				display: inline-block;
				font-size: 1.8rem;
				@include breakpoint-md {
					margin-top: 2em;
					font-size: 2.5rem;
				}
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						bottom: -15px;/*線の上下位置*/
						display: inline-block;
						width: 70%;
						height: 2px;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						background-color: $color_primaryA_04;
					}
			}
		}
		.read {
			text-align: center;
		}
	}
}


.search .searchBlock {
	margin-top: 2em;
	padding: 8% 5%;
	background: #FFF;
	@include breakpoint-md {
		padding: 6% 5%;
	}
}
.search ul.wrap {
	@include breakpoint-md {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.search .wrap li {
	width:100%;
	margin:0 auto;
	font-size: 1.5rem;
	line-height: 2.0rem;
	text-align: center;
	@include breakpoint-md {
		width: 35%;
		font-size: 1.6rem;
	}
}
.search .wrap li+li{
	width:5%;
}
.search .wrap li+li span.sm {
	display: inline-block;
}
.search .wrap li+li img{
	vertical-align: baseline;
	transform:rotate(90deg);
	@include breakpoint-md {
		width: 15px;
		vertical-align: middle;
		transform:rotate(0deg);
	}
}
.search .wrap li+li+li{
	width:100%;
	text-align: center;
	line-height: 1;
	@include breakpoint-md {
		width:60%;
	}
}
.search .wrap li+li+li span.md {
	display: inline-block !important;
}
.search .wrap li select,
.search .wrap li input{
	font-size: 1.5rem;
	height: 4em !important;
	@include breakpoint-md {
		font-size: 1.6rem;
		height: 3em !important;
	}
}
input::placeholder {color:#969696;}
input:-ms-input-placeholder {color:#969696;}
input::-ms-input-placeholder {color:#969696;}

.search .btn{
	width:100%;
	margin:10% auto 0;
}
.search .btn #btnSearch{
	width:100%;
	padding:15px 20px;
	font-size: 1.6rem;
}
.search .wrap li select {
	width: 90%;
}
.search .wrap li #goal {
	width:90%;
	margin:5% auto 0;
	font-size: 1.5rem;
	@include breakpoint-md {
		margin: 0 10px;
		width: 65%;
	}
}
.search .wrap li.arrow {
	margin-top:5px;
	text-align: center;
}

.search .btnSearch {
	margin-top: 2em;
	@include breakpoint-md {
		margin: 2em auto 0;
		width: 50%;
	}
}
.search .btnSearch #btnSearch {
  padding:15px 0;
	width: 100%;
	border: none;
	background-image: -moz-linear-gradient( -30deg, rgb(65,84,100) 0%, rgb(56,76,93) 58%, rgb(47,68,85) 100%);
	background-image: -webkit-linear-gradient( -30deg, rgb(65,84,100) 0%, rgb(56,76,93) 58%, rgb(47,68,85) 100%);
	background-image: -ms-linear-gradient( -30deg, rgb(65,84,100) 0%, rgb(56,76,93) 58%, rgb(47,68,85) 100%);
	color: $color_primaryA_01;
  text-align: center;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}

.search .btnSearch #btnSearch:hover{
  opacity: 0.8;
}

.search .note {
	margin-top: 3em;
	font-size: 1.3rem;
}

