@charset "UTF-8";
/**
 *
 *  ページ用CSS
 *　member__column03
 */
.sm {
  display: block;
}
@media screen and (min-width: 480px) {
  .sm {
    display: none;
  }
}

.sm-lg {
  display: block;
}
@media screen and (min-width: 1023px) {
  .sm-lg {
    display: none;
  }
}

.md {
  display: none;
}
@media screen and (min-width: 767px) {
  .md {
    display: block;
  }
}

.lg {
  display: none;
}
@media screen and (min-width: 960px) {
  .lg {
    display: block;
  }
}

.xl {
  display: none;
}
@media screen and (min-width: 1023px) {
  .xl {
    display: block;
  }
}

/* clearfix */
.clearfix {
  *zoom: 1;
  overflow: hidden;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*--------------------------------------------------------------------------
   Overwright
---------------------------------------------------------------------------*/
.page-ttl {
  padding: 0;
}
.page-ttl__inner {
  position: relative;
  height: 50vh;
  max-height: 400px;
  background: url("../images/column03/bg_ttl_pc.jpg") center center no-repeat;
  background-size: cover;
}
.page-ttl__inner h2 {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: none;
  width: 80%;
  max-width: 450px;
}

@media screen and (max-width: 480px) {
  .page-ttl {
    padding: 4% 4% 4% 4%;
  }
  .page-ttl__inner {
    position: relative;
    height: 50vh;
    max-height: 50vh;
    background: url("../images/column03/bg_ttl_sp.png") no-repeat;
    background-size: cover;
  }

  .page-ttl h2 {
    margin-top: 0;
  }
}
/*--------------------------------------------------------------------------
   contents
---------------------------------------------------------------------------*/
#menber_column03 {
  /*	figure {
  		position: relative;
  		figcaption {
  			position: absolute;
  			bottom: 0;
  			right: 0;
  			padding: 0 .5em;
  			background: rgba($color_black, .5);
  			color: $color_white;
  			font-size: 1.2rem;
  		}
  	}*/
}
#menber_column03 p + figure {
  margin-top: 2em;
}
@media screen and (min-width: 767px) {
  #menber_column03 p + figure {
    margin-top: 4em;
  }
}
#menber_column03 figure + p {
  margin-top: 2em;
}
@media screen and (min-width: 767px) {
  #menber_column03 figure + p {
    margin-top: 4em;
  }
}

#menber_column03 .intro {
  margin: auto;
  width: 90%;
  max-width: 780px;
}
@media screen and (min-width: 767px) {
  #menber_column03 .intro .inner {
    margin-top: 5em;
  }
}
#menber_column03 .intro .introTitleBlock__maintitle {
  margin-top: 1em;
  font-size: 1.9rem;
  text-align: center;
  color: #415464;
}
@media screen and (min-width: 767px) {
  #menber_column03 .intro .introTitleBlock__maintitle {
    font-size: 2.5rem;
  }
}
#menber_column03 .intro .introTitleBlock + p {
  margin-top: 2em;
}

#menber_column03 .shopBlock {
  position: relative;
}
#menber_column03 .shopBlock__innerBlock01 {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock01 {
    padding-top: 0;
  }
}
#menber_column03 .shopBlock__innerBlock01__shopTitle .icon {
  padding-top: 4em;
  width: 33%;
  max-width: 214px;
}
@media screen and (min-width: 960px) {
  #menber_column03 .shopBlock__innerBlock01__shopTitle .icon {
    padding-top: 5em;
  }
}
#menber_column03 .shopBlock__innerBlock01__shopTitle .name {
  font-size: 2.5rem;
  color: #415464;
}
@media screen and (min-width: 960px) {
  #menber_column03 .shopBlock__innerBlock01__shopTitle .name {
    font-size: 2.5rem;
  }
}
#menber_column03 .shopBlock__innerBlock01__mainRead {
  margin-top: 1em;
  font-size: 1.9rem;
  letter-spacing: -.5px;
  color: #948a68;
}
@media screen and (min-width: 960px) {
  #menber_column03 .shopBlock__innerBlock01__mainRead {
    letter-spacing: normal;
    font-size: 2.4rem;
  }
}
#menber_column03 .shopBlock__innerBlock01__mainRead + p {
  margin-top: 2em;
}
#menber_column03 .shopBlock__innerBlock02 {
  margin: 2em auto;
  width: 90%;
  max-width: 1200px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock02 {
    margin-top: 4em;
    padding-top: 0;
  }
}
@media screen and (min-width: 960px) {
  #menber_column03 .shopBlock__innerBlock02 .textFloat {
    float: left;
    width: 35%;
  }
}
#menber_column03 .shopBlock__innerBlock02 .photoFloat {
  margin-top: 2em;
}
@media screen and (min-width: 960px) {
  #menber_column03 .shopBlock__innerBlock02 .photoFloat {
    margin-top: 0;
    width: 61%;
    float: right;
  }
}
#menber_column03 .shopBlock__innerBlock02 .textFloat02 {
  margin-top: 2em;
}
@media screen and (min-width: 960px) {
  #menber_column03 .shopBlock__innerBlock02 .textFloat02 {
    float: left;
    width: 35%;
  }
}
#menber_column03 .shopBlock__innerBlock03 {
  margin: 2em auto 0;
  width: 90%;
  max-width: 1200px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03 {
    margin-top: 0em;
    padding-top: 0;
  }
}
#menber_column03 .shopBlock__innerBlock03 figure {
  position: relative;
}
#menber_column03 .shopBlock__innerBlock03 figure figcaption {
  font-size: 1.4rem;
  line-height: 1.4em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item {
    width: 33.333%;
  }
}
#menber_column03 .shopBlock__innerBlock03__list__item figure img {
  width: 80%;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item figure img {
    width: 100%;
  }
}
#menber_column03 .shopBlock__innerBlock03__list__item figure figcaption {
  width: 80%;
}
#menber_column03 .shopBlock__innerBlock03__list__item:nth-child(1) {
  margin-bottom: 110px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item:nth-child(1) {
    margin-bottom: 0;
  }
}
#menber_column03 .shopBlock__innerBlock03__list__item:nth-child(1) figure figcaption {
  position: absolute;
  bottom: -80px;
  right: 0;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item:nth-child(1) figure figcaption {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
  }
}
#menber_column03 .shopBlock__innerBlock03__list__item:nth-child(2) {
  margin-bottom: 70px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item:nth-child(2) {
    margin-top: 170px;
  }
}
#menber_column03 .shopBlock__innerBlock03__list__item:nth-child(2) figure {
  text-align: right;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item:nth-child(2) figure {
    text-align: left;
  }
}
#menber_column03 .shopBlock__innerBlock03__list__item:nth-child(2) figure figcaption {
  position: absolute;
  bottom: -40px;
  right: auto;
  left: 0;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item:nth-child(2) figure figcaption {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
  }
}
#menber_column03 .shopBlock__innerBlock03__list__item:nth-child(3) {
  margin-bottom: 70px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item:nth-child(3) {
    margin-bottom: 0;
    margin-top: 80px;
  }
}
#menber_column03 .shopBlock__innerBlock03__list__item:nth-child(3) figure figcaption {
  position: absolute;
  bottom: -40px;
  right: 0;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock03__list__item:nth-child(3) figure figcaption {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
  }
}
#menber_column03 .shopBlock__innerBlock04 {
  position: relative;
  padding: 2em 1em 1em 1em;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  border: 5px solid #a2b6bd;
  background: white;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock__innerBlock04 {
    margin: 1em 10% 0 auto;
    width: 40%;
  }
}
#menber_column03 .shopBlock__innerBlock04::before {
  content: "SHOP DATA";
  position: absolute;
  top: 0;
  right: 0;
  color: #a2b6bd;
}
#menber_column03 .shopBlock__innerBlock04 h3 {
  padding-bottom: .5em;
  color: #948a68;
  border-bottom: 1px solid #948a68;
}
#menber_column03 .shopBlock__innerBlock04 dl {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#menber_column03 .shopBlock__innerBlock04 dl dt {
  margin-top: .5em;
  padding: 0 .2em;
  text-align: center;
  background: #bfb48f;
  width: 24%;
  color: white;
}
#menber_column03 .shopBlock__innerBlock04 dl dd {
  margin-top: .5em;
  width: 73%;
}

#menber_column03 .shopBlock.shop01::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3%;
  transform: skewY(5deg);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #dce5e9;
}

#menber_column03 .shopBlock.shop02 .shopBlock__innerBlock03 figure {
  position: relative;
}
#menber_column03 .shopBlock.shop02 .shopBlock__innerBlock03 figure figcaption {
  background: rgba(181, 199, 206, 0.7);
}
#menber_column03 .shopBlock.shop02 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) {
  margin-bottom: 80px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop02 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) {
    margin-bottom: 0;
  }
}
#menber_column03 .shopBlock.shop02 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) figure figcaption {
  position: absolute;
  bottom: -40px;
  right: 0;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop02 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) figure figcaption {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
  }
}

#menber_column03 .shopBlock.shop03::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3%;
  transform: skewY(5deg);
  transform-origin: bottom left;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #dce5e9;
}
#menber_column03 .shopBlock.shop03 .shopBlock__innerBlock03 {
  max-width: 900px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop03 .shopBlock__innerBlock03 {
    margin: auto 17% 0 auto;
  }
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop03 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item {
    width: 50%;
  }
}
#menber_column03 .shopBlock.shop03 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) {
  margin-bottom: 80px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop03 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) {
    margin-bottom: 0;
  }
}
#menber_column03 .shopBlock.shop03 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) figure figcaption {
  position: absolute;
  bottom: -40px;
  right: 0;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop03 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) figure figcaption {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
  }
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop03 .shopBlock__innerBlock04 {
    margin: -5em auto 0 10%;
    width: 40%;
  }
}

#menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 {
  max-width: 900px;
}
#menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 figure {
  position: relative;
}
#menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 figure figcaption {
  background: rgba(181, 199, 206, 0.7);
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 {
    margin: auto 17% 0 auto;
  }
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item {
    width: 50%;
  }
}
#menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) {
  margin-bottom: 80px;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) {
    margin-bottom: 0;
  }
}
#menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) figure figcaption {
  position: absolute;
  bottom: -40px;
  right: 0;
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop04 .shopBlock__innerBlock03 .shopBlock__innerBlock03__list__item:nth-child(1) figure figcaption {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
  }
}
@media screen and (min-width: 1023px) {
  #menber_column03 .shopBlock.shop04 .shopBlock__innerBlock04 {
    margin: -5em auto 0 10%;
    width: 40%;
  }
}

#menber_column03 .mapBlock {
  margin: 3em auto 0 auto;
  width: 90%;
  max-width: 1000px;
}
@media screen and (min-width: 960px) {
  #menber_column03 .mapBlock {
    margin-top: 6em;
  }
}
#menber_column03 .mapBlock h3 {
  margin-top: 1em;
  font-size: 1.9rem;
  text-align: center;
  color: #415464;
}
@media screen and (min-width: 767px) {
  #menber_column03 .mapBlock h3 {
    font-size: 2.5rem;
  }
}
#menber_column03 .mapBlock .mapArea {
  margin-top: 2em;
}
@media screen and (min-width: 960px) {
  #menber_column03 .mapBlock .mapArea {
    margin-top: 3em;
  }
}
#menber_column03 .mapBlock .mapArea img {
  width: 100%;
}
