@charset "utf-8";
/**
 *
 *  ページ用CSS
 *　review
 */

//**************************
// brake point
//**************************
$breakpoint-sm: 480px;
$breakpoint-md: 767px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1023px;
$breakpoint-xll: 1279px;
$breakpoint-max: 1600px;

@mixin breakpoint-sm {
	@media screen and (min-width:($breakpoint-sm)) { @content; } }

@mixin breakpoint-md {
	@media screen and (min-width:($breakpoint-md)) { @content; } }

@mixin breakpoint-lg {
	@media screen and (min-width:($breakpoint-lg)) { @content; } }

@mixin breakpoint-xl {
	@media screen and (min-width:($breakpoint-xl)) { @content; } }

@mixin breakpoint-xll {
	@media screen and (min-width:($breakpoint-xll)) { @content; } }

@mixin breakpoint-max {
	@media screen and (min-width:($breakpoint-max)) { @content; } }

//**************************
// color
//**************************
$color_primaryA_01:rgba(220, 229, 233, 1);
$color_primaryA_02:rgba(181, 199, 206, 1);
$color_primaryA_03:rgba(162, 182, 189, 1);
$color_primaryA_04:rgba(65, 84, 100, 1);

$color_accentA_01:rgba(144, 78, 85, 1);
$color_accentB_01:rgba(102, 139, 103, 1);

$color_accentC_01:rgba(235, 220, 203, 1);
$color_accentC_02:rgba(191, 180, 143, 1);
$color_accentC_03:rgba(148, 138, 104, 1);

$color_gray_01:rgba(100, 100, 104, 1);
$color_gray_02:rgba(37, 38, 39, 1);//TEXT Color
$color_gray_03:rgba(8, 9, 9, 1);

$color_white:rgba(255, 255, 255, 1);
$color_black:rgba(0, 0, 0, 1);


/*--------------------------------------------------------------------------
   Overwright
---------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/


#review {
	figure {
		position: relative;
		figcaption {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0 .5em;
			background: rgba($color_black, .5);
			color: $color_white;
			font-size: 1.2rem;
		}
	}
	.sm {
		display: block;
		@include breakpoint-sm {
			display: none;
		}
	}
	.md {
		display: none;
		@include breakpoint-md {
			display: block;
		}
	}
	/* clearfix */
	.clearfix {
		*zoom: 1;
		overflow: hidden;
		&:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
			visibility: hidden;
		}
	}
	.intro {
		margin: auto;
		width: 90%;
		max-width: 1200px;
		@include breakpoint-md {
			margin-top: 2em;
		}
		h3 {
			text-align: center;
			font-size: 1.8rem;
			color: $color_primaryA_04;
			@include breakpoint-md {
				font-size: 2rem;
			}
		}
	}
	h4 {
		text-align: center;
		font-size: 1.8rem;
		color: $color_primaryA_04;
		@include breakpoint-lg {
			font-size: 2.5rem;
		}
	}
}

#review {
	.interviewBlock {
		.sectionWrap {
			margin: auto;
			width: 90%;
			max-width: 1200px;
		}
		.titleBlock {
			margin-top: 4em;
			padding: 1em 0;
			text-align: center;
			color: $color_white;
			background: $color_accentC_03;
			@include breakpoint-lg {
				margin: 5em auto 0 auto;
				padding: .5em 0;
				width: 90%;
				max-width: 1200px;
			}
			h3 p {
				@include breakpoint-lg {
					display: inline-block;
				}
			}
			.num {
				font-size: 1.8rem;
				@include breakpoint-lg {
					margin-left: -20%;
					margin-right: 1em;
					font-size: 2.5rem;
					opacity: .5;
				}
				em {
					font-size: 2.4rem;
					@include breakpoint-lg {
						font-size: 4.2rem;
						opacity: .5;
					}
				}
			}
			.name {
				font-size: 2.4rem;
				@include breakpoint-lg {
					font-size: 4.2rem;
				}
				span {
					font-size: 1.6rem;
				@include breakpoint-lg {
					font-size: 2rem;
				}
				}
			}
		}
		&__inner01 {
			margin-top: 2em;
			@include breakpoint-lg {
				margin-top: 4em;
			}
			p+p {
				margin-top: 2em;
			}
			.readBlock01 {
				margin-top: 2em;
				@include breakpoint-lg {
					margin-top: 5em;
					float: left;
					width: 45%;
				}
			}
			.photoBlock {
				margin-top: 2em;
				@include breakpoint-lg {
					margin-top: 5em;
					float: right;
					width: 50%;
				}
			}
			.readBlock02 {
				margin-top: 2em;
				@include breakpoint-lg {
					float: left;
					width: 45%;
				}
			}
		}
		&__inner02 {
			margin: 2em auto 0 auto;
			padding: 4em 0;
			background: $color_primaryA_01;
			max-width: 1200px;
			@include breakpoint-lg {
				margin-top: 4em;
			}
			p+p {
				margin-top: 2em;
			}
			.readBlock01 {
				margin-top: 2em;
				@include breakpoint-lg {
					margin-top: 5em;
					float: right;
					width: 45%;
				}
			}
			.photoBlock {
				margin-top: 2em;
				@include breakpoint-lg {
					margin-top: 5em;
					float: left;
					width: 50%;
				}
			}
			.readBlock02 {
				margin-top: 2em;
				@include breakpoint-lg {
					float: right;
					width: 45%;
				}
			}
			&__shopBlock {
				margin-top: 2em;
				padding: 1em 0;
				background: $color_white;
				@include breakpoint-lg {
					margin: 1em 0 0 auto;
					padding: 1em 0;
					width: 45%;
				}
				.sectionWrap {
					display:-webkit-box;
					display:-ms-flexbox;
					display:flex;
					-webkit-box-pack: justify;
					-ms-flex-pack: justify;
					justify-content: space-between;
				}
				&__readBlock {
					width: 48%;
					display: flex;
					flex-direction: column;
					@include breakpoint-lg {
						width: 63%;
					}
					.time {font-size: 1.3rem;}
				}
				&__photoBlock {
					width: 50%;
					@include breakpoint-lg {
						width: 33%;
					}
				}
				h4 {
					text-align: left;
					font-size: 1.8rem;
					color: $color_accentC_03;
					@include breakpoint-lg {
						font-size: 2.2rem;
					}
					span {
						display: block;
						font-size: 1.2rem;
						color: $color_gray_02;
						@include breakpoint-lg {
							font-size: 1.6rem;
						}
					}
				}
				ul {
					margin-top: auto;
					li {
						&::before {
							content: "";
							width: 10px;
							height: 10px;
							display: inline-block;
							background-color: $color_accentC_03;
							margin-right: .5em;
						}
					}
				}
			}
		}
	}
}

#review {
	.interviewBlock.interview02 {
		@include breakpoint-lg {
			margin-top: 10em;
		}
		.titleBlock {
			background: $color_accentB_01;
		}
		.interviewBlock__inner01 {
			.photoBlock {
				margin-top: 2em;
				@include breakpoint-lg {
					margin-top: 5em;
					float: left;
					width: 50%;
				}
			}
			.readBlock02 {
				margin-top: 2em;
				@include breakpoint-lg {
					margin-top: 5em;
					float: right;
					width: 45%;
				}
			}
		}
	}
}

#review {
	.interviewMoreWrap {
		padding-top: 1em;
		background: rgba($color_accentC_01,.2);
		@include breakpoint-lg {
			margin-top: 5em;
		}
	}
	.interviewMore {
		margin: auto;
		width: 100%;
		max-width: 1200px;
		@include breakpoint-lg {
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
	}
	.interviewMoreBlock {
		margin-top: 3em;
		position: relative;
		&::before {
			content:"";
			position: absolute;
			top:0;
			left:0;
			display:block;
			width: 100px;
			height: 100px;
			background:url("../images/interview_more_icon03.png") no-repeat; 
			background-size:100% auto;
		}
		@include breakpoint-lg {
			margin-bottom: 3em;
			width: 46%;
		}
		.sectionWrap {
			margin: 0 5% 0 10%;
			width: 85%;
		}
		h3 {
			padding-top: 50px;
			font-size: 1.8rem;
			color: $color_accentC_03;
			@include breakpoint-lg {
				font-size: 2.5rem;
			}
		}
		.name {
			text-align: right;
			color: $color_gray_01;
		}
		.read {
			margin-top: 2em;
		}
		ul {
			display:-webkit-box;
			display:-ms-flexbox;
			display:flex;
			li {
				width: 60%;
				z-index: 2;
				&:nth-child(2) {
					z-index: 1;
					margin: 3em 0 0 -2em;
				}
				.photoBlock {
					margin-top: 2em;
				}
			}
		}
		.photoBlock {
			margin-top: 2em;
		}
	}
}

#review {
	.interviewMoreBlock.more03 {
		&::before {
			background:url("../images/interview_more_icon03.png") no-repeat; 
			background-size:100% auto;
		}
	}
	.interviewMoreBlock.more04 {
		&::before {
			background:url("../images/interview_more_icon04.png") no-repeat; 
			background-size:100% auto;
		}
	}
	.interviewMoreBlock.more05 {
		&::before {
			background:url("../images/interview_more_icon05.png") no-repeat; 
			background-size:100% auto;
		}
	}
	.interviewMoreBlock.more06 {
		&::before {
			background:url("../images/interview_more_icon06.png") no-repeat; 
			background-size:100% auto;
		}
	}
	.interviewMoreBlock.more07 {
		&::before {
			background:url("../images/interview_more_icon07.png") no-repeat; 
			background-size:100% auto;
		}
	}
	.interviewMoreBlock.more08 {
		&::before {
			background:url("../images/interview_more_icon08.png") no-repeat; 
			background-size:100% auto;
		}
	}
}









